:root {
    --dark-black: #000000;
    --lighter-black: #646464;
    --white: #ffffff;
    --secondary-title: #272727;
}
html {
    background-color: rgb(250, 250, 250);
}
body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--dark-black);
    font-size: 1rem;
    background-color: rgb(250, 250, 250);
}

ul {
    list-style: none;
    font-weight: 900;
    letter-spacing: 0px; 
}

a {
    text-decoration: none;
    color: var(--dark-black);
}

img {
    display: block;
    margin: auto;
}

h1 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
}

p {
    color: var(--dark-black);
    text-align: center;
    line-height: 1.5rem;
    margin: 0;
    font-weight: 300;
}

.section-header {
    font-weight: 900;
    padding: 45px 0 40px 0;
}

.light {
    color: var(--lighter-black)
}
                                        /* Header styling. Flexbox */
header {
    background: rgb(250, 250, 250);
    width:100%;
}

header ul {
    font-size: .85rem;
    margin-bottom: 40px;
}

header img {
    max-width: 60%;
    margin-bottom: 20px;
}

.item1, .item {
    text-align: center;
}

.item {
    background: white;
    padding: 13px 0; 
    margin: 5px 15px;
}

.title-paragraphs {
    padding: 0 20px 35px 20px;
}

                                        /* Body styling */
main {
    background-color: white;
}

main img {
    max-width: 90%;
}

.content-title {
    color: var(--secondary-title);
    font-weight: 400;
    font-size: 1.2rem;
    margin: 35px 0 10px 0;
}

.content-summary {
    padding: 0 27px 35px 27px;
}

                                        /* Footer Styling */
footer {
    background: rgb(250, 250, 250);
}

footer h2 {
    padding: 65px 0 15px 0;
}

footer p {
    font-weight: 300;
    font-size: 1.025rem;
}

footer span {
    font-weight: 500;
}

.footer-paragraph {
    padding: 0 20px 30px 20px;
}

.footer-p-space {
    padding: 0 0 10px 0;
}

.spaced{
    white-space: pre;
}

.footer-email-space{
    padding-bottom: 60px;
}

footer hr {
    background-color: #e0e0e0; 
    height: 1px; 
    border: 0;
    width: 90%;
}

.footer-container {
    padding: 15px 5% 25px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container p {
    color: var(--dark-black);
    font-weight: 600;
    font-size: .85rem;
}

footer div p:nth-child(n+2):nth-child(-n+4) {
    display: none;
} 

@media (min-width: 768px) {
    
                                        /* Header */
    header {
        display: block;
    }

    header p {
        margin-left: 15px;
    }

    .container {
        margin-top: 4%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        background:none;
    }

    .container-img-p {
        display: flex;
    }

    .item1 {
        flex: 0 0 100%;
        
    }
    
    .container-img-p {
        display: flex;
    }

    header img {
        flex: 1;
        padding: 20px;
        order: 2;
        padding: 0 30px 40px 0px;
        max-width: 37%;

    }

    header div p {
        font-size: 1.35rem;
        text-align: left;
        padding: 500px;
    }

                                        /* Body */
    .main-container {
        display: flex;
        flex-wrap: wrap;
    }

    .main-container > div {
        flex: 38%;
        margin: 0;
    }

    .main-container > div img {
        max-width: 100%;
    }


    .main-container > :nth-child(even) {
        padding-right: 3%;
        padding-left: .75%;
    }

    .main-container > :nth-child(odd) {
        padding-left: 3%;
        padding-right: .75%
    }

    .main-container div p {
        padding: 0 40px 35px 40px
    }


                                        /* footer */
    .footer-paragraph {
        padding: 20px 15% 55px 15%;
    }

    .footer-p-space {
            padding: 0 0 25px 0;
    }

    footer div p:nth-child(n+2):nth-child(-n+4) {
        display: inline;
    }

    .footer-container {
        justify-content: space-between;
    }

    .footer-container p:nth-child(1) {
        margin-right: auto;
    }

    footer div p:nth-child(n+2):nth-child(-n+3) {
        margin-right: 3%;
    }

    .footer-container {
        padding : 15px 5% 50px 5%;
    }

    footer p {
        font-size: 1.35rem;
    }
    
    .footer-container p:nth-child(5) {
        display: none;
    } 

    .main-container > :nth-child(even) {
        margin-right: 0%;
    }

    .main-container > :nth-child(odd) {
        margin-left: 0%;
    }

    
}

@media (min-width: 1024px) {

                                            /* Header */

    .item1 {
        flex: 0 0 auto;
        margin-right: auto;
    }

    header img {
        padding-right: 5%;
        max-width: 100%;
    }
    
    header ul :nth-child(4) {
        margin-right: 0;
    }

    .container {
        padding: 35px 5% 30px 5%;
        margin: 0;
    }

    header {
        display: block;
    }

    .container {
        align-items: center;
    }

    header div p {
        margin: 0;
        padding: 0 5% 45px 5% !important;
    }

                                            /* Body */
    main {
       background-color: rgb(250, 250, 250);
    }

    .main-container > :nth-child(even) {
        padding: 0;
    }

    .main-container > :nth-child(odd) {
        padding: 0;
    }

    .margin {
        background-color: white;
        margin: 0 3% 0 3%;
    }
    .main-container > div  {
        max-width: 90%;
        display: inline-block;
    }
    .main-container > div {
        flex: 30%;
        margin: 0;
    }
    .main-container > div img {
        max-width: 90%;
    }

    .main-container :nth-child(3n+1) img {
        margin: 0;
        margin-left: auto !important;
    }

    .content-summary {
        padding: 0 20px 55px 20px !important;
        font-size: 1rem;
    }

    .main-container :nth-child(3n) img {
        margin: 0;
    }

    .main-container :nth-child(3n+1) h2 {
        margin-left: 10%;
    }

    .main-container :nth-child(3n) h2 {
        margin-right: 10%;
    }

    .main-container :nth-child(3n+1) p {
        padding-left: 15% !important;
    }
    
    .main-container :nth-child(3n) p {
        padding-right: 15% !important;
    }

    
                                            /* Footer */
            
    footer h2 {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .footer-paragraph {
        padding: 10px 23% 55px 23%;
    }

    .footer-email-space {
        padding-bottom: 65px;
    }

}